name: checks

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  checks:
    name: Lint & Django checks
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build services
        run: docker compose build

      - name: Django system checks
        run: docker compose run --rm app python manage.py check

      - name: Run flake8
        run: docker compose run --rm app flake8 .
